
.idea/workspace.xml
.idea/vcs.xml
.idea/p4.iml
.idea/misc.xml
.idea/modules.xml
ML4D/obj/rider.project.restore.info
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/Compiler/gen/Grammar.interp
ML4D/Compiler/gen/Grammar.tokens
ML4D/Compiler/gen/GrammarBaseListener.cs
ML4D/Compiler/gen/GrammarBaseVisitor.cs
ML4D/Compiler/gen/GrammarLexer.cs
ML4D/Compiler/gen/GrammarLexer.interp
ML4D/Compiler/gen/GrammarLexer.tokens
ML4D/Compiler/gen/GrammarListener.cs
ML4D/Compiler/gen/GrammarParser.cs
ML4D/Compiler/gen/GrammarVisitor.cs
ML4D/Compiler/gen/dino.interp
ML4D/Compiler/gen/dino.tokens
ML4D/Compiler/gen/dinoBaseListener.cs
ML4D/Compiler/gen/dinoBaseVisitor.cs
ML4D/Compiler/gen/dinoLexer.cs
ML4D/Compiler/gen/dinoLexer.interp
ML4D/Compiler/gen/dinoLexer.tokens
ML4D/Compiler/gen/dinoListener.cs
ML4D/Compiler/gen/dinoParser.cs
ML4D/Compiler/gen/dinoVisitor.cs
*.iml
ML4D/Compiler/gen/GrammarVisitor.cs
ML4D/Compiler/gen/GrammarParser.cs
ML4D/Compiler/gen/GrammarListener.cs
ML4D/Compiler/gen/GrammarLexer.tokens
ML4D/Compiler/gen/GrammarLexer.interp
ML4D/Compiler/gen/GrammarLexer.cs
ML4D/Compiler/gen/GrammarBaseVisitor.cs
ML4D/Compiler/gen/GrammarBaseListener.cs
ML4D/Compiler/gen/Grammar.tokens
ML4D/Compiler/gen/Grammar.interp
ML4D/Compiler/gen/ML4D.interp
ML4D/Compiler/gen/ML4D.tokens
ML4D/Compiler/gen/ML4DBaseListener.cs
ML4D/Compiler/gen/ML4DBaseVisitor.cs
ML4D/Compiler/gen/ML4DLexer.cs
ML4D/Compiler/gen/ML4DLexer.interp
ML4D/Compiler/gen/ML4DLexer.tokens
ML4D/Compiler/gen/ML4DListener.cs
ML4D/Compiler/gen/ML4DParser.cs
ML4D/Compiler/gen/ML4DVisitor.cs
ML4D/.idea/.idea.ML4D/.idea/misc.xml
ML4D/.vs/slnx.sqlite
ML4D/.idea/.idea.ML4D.dir/.idea/workspace.xml
ML4D/.idea/.idea.ML4D.dir/.idea/projectSettingsUpdater.xml
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/obj/ML4D.csproj.nuget.g.props
ML4D/obj/project.assets.json
ML4D/obj/project.nuget.cache
ML4D/obj/project.packagespec.json
ML4D/.idea/.idea.ML4D/.idea/indexLayout.xml
.idea/.idea.p4.dir/.idea/workspace.xml
.idea/.idea.p4.dir/.idea/vcs.xml
.idea/.idea.p4.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.p4.dir/.idea/indexLayout.xml
.idea/.idea.p4.dir/.idea/encodings.xml
ML4D/.idea/.idea.ML4D/.idea/indexLayout.xml
Test/bin/Debug/netcoreapp5.0/Antlr4.Runtime.Standard.dll
Test/bin/Debug/netcoreapp5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.TestPlatform.CoreUtilities.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.TestPlatform.Utilities.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Test/bin/Debug/netcoreapp5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Test/bin/Debug/netcoreapp5.0/ML4D.dll
Test/bin/Debug/netcoreapp5.0/ML4D.exe
Test/bin/Debug/netcoreapp5.0/ML4D.pdb
Test/bin/Debug/netcoreapp5.0/Newtonsoft.Json.dll
Test/bin/Debug/netcoreapp5.0/NuGet.Frameworks.dll
Test/bin/Debug/netcoreapp5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/ref/Test.dll
Test/bin/Debug/netcoreapp5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/Test.deps.json
Test/bin/Debug/netcoreapp5.0/Test.dll
Test/bin/Debug/netcoreapp5.0/Test.pdb
Test/bin/Debug/netcoreapp5.0/Test.runtimeconfig.dev.json
Test/bin/Debug/netcoreapp5.0/Test.runtimeconfig.json
Test/bin/Debug/netcoreapp5.0/testhost.dll
Test/bin/Debug/netcoreapp5.0/testhost.exe
Test/bin/Debug/netcoreapp5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/bin/Debug/netcoreapp5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Test/obj/Debug/netcoreapp3.1/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp3.1/Test.AssemblyInfoInputs.cache
Test/obj/Debug/netcoreapp3.1/Test.assets.cache
Test/obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp3.1/Test.csprojAssemblyReference.cache
Test/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Test/obj/Debug/netcoreapp5.0/ref/Test.dll
Test/obj/Debug/netcoreapp5.0/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp5.0/Test.AssemblyInfoInputs.cache
Test/obj/Debug/netcoreapp5.0/Test.assets.cache
Test/obj/Debug/netcoreapp5.0/Test.csproj.CopyComplete
Test/obj/Debug/netcoreapp5.0/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/netcoreapp5.0/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp5.0/Test.csprojAssemblyReference.cache
Test/obj/Debug/netcoreapp5.0/Test.dll
Test/obj/Debug/netcoreapp5.0/Test.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/netcoreapp5.0/Test.genruntimeconfig.cache
Test/obj/Debug/netcoreapp5.0/Test.pdb
Test/obj/project.assets.json
Test/obj/project.nuget.cache
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
ML4D/.idea/.idea.ML4D/.idea/workspace.xml
ML4D/.idea/.idea.ML4D/.idea/vcs.xml
ML4D/.idea/.idea.ML4D/.idea/projectSettingsUpdater.xml
ML4D/.idea/.idea.ML4D/.idea/encodings.xml
