
.idea/workspace.xml
.idea/vcs.xml
.idea/p4.iml
.idea/misc.xml
.idea/modules.xml
ML4D/obj/rider.project.restore.info
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/Compiler/gen/Grammar.interp
ML4D/Compiler/gen/Grammar.tokens
ML4D/Compiler/gen/GrammarBaseListener.cs
ML4D/Compiler/gen/GrammarBaseVisitor.cs
ML4D/Compiler/gen/GrammarLexer.cs
ML4D/Compiler/gen/GrammarLexer.interp
ML4D/Compiler/gen/GrammarLexer.tokens
ML4D/Compiler/gen/GrammarListener.cs
ML4D/Compiler/gen/GrammarParser.cs
ML4D/Compiler/gen/GrammarVisitor.cs
ML4D/Compiler/gen/dino.interp
ML4D/Compiler/gen/dino.tokens
ML4D/Compiler/gen/dinoBaseListener.cs
ML4D/Compiler/gen/dinoBaseVisitor.cs
ML4D/Compiler/gen/dinoLexer.cs
ML4D/Compiler/gen/dinoLexer.interp
ML4D/Compiler/gen/dinoLexer.tokens
ML4D/Compiler/gen/dinoListener.cs
ML4D/Compiler/gen/dinoParser.cs
ML4D/Compiler/gen/dinoVisitor.cs
*.iml
ML4D/Compiler/gen/GrammarVisitor.cs
ML4D/Compiler/gen/GrammarParser.cs
ML4D/Compiler/gen/GrammarListener.cs
ML4D/Compiler/gen/GrammarLexer.tokens
ML4D/Compiler/gen/GrammarLexer.interp
ML4D/Compiler/gen/GrammarLexer.cs
ML4D/Compiler/gen/GrammarBaseVisitor.cs
ML4D/Compiler/gen/GrammarBaseListener.cs
ML4D/Compiler/gen/Grammar.tokens
ML4D/Compiler/gen/Grammar.interp
ML4D/.idea/.idea.ML4D/.idea/misc.xml
ML4D/.vs/slnx.sqlite
ML4D/.idea/.idea.ML4D.dir/.idea/workspace.xml
ML4D/.idea/.idea.ML4D.dir/.idea/projectSettingsUpdater.xml
ML4D/obj/ML4D.csproj.nuget.dgspec.json
ML4D/obj/ML4D.csproj.nuget.g.props
ML4D/obj/project.assets.json
ML4D/obj/project.nuget.cache
ML4D/obj/project.packagespec.json
ML4D/.idea/.idea.ML4D/.idea/indexLayout.xml
.idea/.idea.p4.dir/.idea/workspace.xml
.idea/.idea.p4.dir/.idea/vcs.xml
.idea/.idea.p4.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.p4.dir/.idea/indexLayout.xml
.idea/.idea.p4.dir/.idea/encodings.xml
ML4D/.idea/.idea.ML4D/.idea/indexLayout.xml
ML4D/obj
Test/bin
Test/obj
.idea
ML4D/.idea
ML4D/.vs/ML4D/v16/TestStore/0/testlog.manifest
ML4D/.vs/ML4D/v16/TestStore/0/000.testlog
ML4D/.vs/ML4D/v16/.suo
ML4D/ML4D.sln.DotSettings.user
*.v2
ML4D/bin/Debug/net5.0/ref/ML4D.dll
ML4D/bin/Debug/net5.0/ML4D.runtimeconfig.json
ML4D/bin/Debug/net5.0/ML4D.runtimeconfig.dev.json
ML4D/bin/Debug/net5.0/ML4D.pdb
ML4D/bin/Debug/net5.0/ML4D.exe
ML4D/bin/Debug/net5.0/ML4D.dll
ML4D/bin/Debug/net5.0/ML4D.deps.json
ML4D/bin/Debug/net5.0/Antlr4.Runtime.Standard.dll
ML4D/bin/Debug/net5.0/file.c
ML4D/.vs/ML4D/v16/TestStore/0/001.testlog
ML4D/bin/Debug/net5.0/a.exe
ML4D/Properties/launchSettings.json
.vs/slnx.sqlite
.vs/p4/v16/.suo
.vs/VSWorkspaceState.json
ML4D/bin/Debug/net5.0/Test1.exe
ML4D/bin/Debug/net5.0/Program.exe
ML4D/bin/Debug/net5.0/Test1.c
.vscode/launch.json
.vscode/tasks.json
