# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ML4D.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dion\source\repos\p4\ML4D\.idea\.idea.ML4D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
